@model NCAAFootballPlayoffs.Models.User
@{
    ViewBag.Title = "NCAA Bracket - Home";
}

<div id="gamesDiv" class="row" style="height: calc(100vh - 75px); background-color:#fff">
    <div class="col-md-9 col-xs-12" style="overflow-y:scroll; height:calc(100vh - 75px)">
        <div class="row title-bar">
            <div class="col-md-6">
                <span class="title"></span>
            </div>
            <div class="col-md-6" style="text-align:right">
                @*<button class="btn btn-default" data-bind="">Add Game</button>*@
            </div>
        </div>
        <div style="padding-top: 10px">
                @Html.ActionLink("Download Blank Bracket", "DownloadBracket", "Bracket", new { }, new { @style = "margin-right: 15px", @class = "btn btn-default" })
        </div>
        @if (Model == null)
        {
            <h3>Hello! Welcome to the bowl season bracket for 2018! This page currently doesn't do anything. In order to get started, press the sign in button in the navigation bar. Once redirected, select the create an account button.</h3>
        }
        else
        {
            <br />
            <br />
            <h3>
                Welcome to your home page for the 2018 bowl season! All your brackets are located on the right side of the screen. You can create as many brackets as you would like, but each bracket must be approved individually. 
            </h3>
            <h3>
                In order to create your first bracket, press the 'Create Bracket' button on the side bar. Once you have created one or more brackets, press the bracket names to make your picks for that bracket.
            </h3>
        }
    </div>
    <div class="col-md-3 col-xs-12" style="height: calc(100vh - 75px); background-color:#d2d2d2">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="background-color:#f2f2f2; margin-top: 15px; border-radius: 3px; min-height: 300px">
                <div>
                    <div class="row" style="padding:10px">
                        @if (Model != null)
                        {
                            <div class="col-sm-12">
                            
                                <div>
                                    <b>Account Email: @Model.EmailAddress</b>
                                </div>
                                <hr />
                                <b>
                                    Brackets:
                                </b>
                                @foreach (var username in Model.Usernames.OrderBy(f => f.UsernameText))
                                {
                                    //Seasons!!
                                    <div>
                                        <b>@Html.ActionLink(username.UsernameText, "Index", "Bracket", new { usernameID = username.UsernameID }, new { })</b>
                                        @if (username.Approved)
                                        {
                                        <span style="color:green">&#10003;</span>
                                        }
                                        else
                                        {
                                        <span style="color:red">&#128500;</span>
                                        }
                                    </div>
                                }

                            </div>
                            <hr style="padding-bottom:40px" />
                            
                            <div style="position:absolute; bottom:10px; right:25%; width:50%">
                                @Html.ActionLink("Create Bracket", "CreateBracket", "UserAccount", new { }, new { @class = "btn btn-success" })
                            </div>
                        }
                        else
                        {
                            <h5>You are currently not signed in.</h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>