<div class="col-md-12" data-bind="visible: !isEditing()">
    <div class="game-style row">
        <div class="col-md-12">
            @*<div class="row" style="border-bottom:1px solid black; background-color:#A8B2CD; color:#fff,">*@
            <div class="row" style="border-bottom:1px solid black; background-color:#A8B2CD; color:#fff; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased;">
                <div data-bind="text: Text()"></div>
                <span data-bind="" class="top-right glyphicon glyphicon-cog"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    hi
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" data-bind="visible: isEditing()">
    <div class="game-style row">
        <div class="col-md-12">
            <div class="row" style="border-bottom:1px solid black">
                <div>
                    <input data-bind="" />
                </div>
                <span data-bind="" class="top-right glyphicon glyphicon-trash"></span>
                <span data-bind="" class="top-right glyphicon glyphicon-floppy-disk" style="right:18px"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                </div>
            </div>
        </div>
    </div>
</div>