@model NCAAFootballPlayoffs.Models.ViewModels.BracketViewModel

@{
    ViewBag.Title = "Bracket";
}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Add Game</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Bowl Name</label>
                        <input type="text" class="form-control" id="new-bowl-name"  data-bind="value: newGameBowlName">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Bowl Time:</label>
                        <div>
                            <input data-bind="datetimepicker: $root.newGameDatetime, value: $root.newGameDatetime" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Bowl City:</label>
                        <input type="text" class="form-control" id="new-bowl-city"  data-bind="value: newGameCity">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Bowl State:</label>
                        <select class="stateSelect" data-bind="value: $root.newGameSelectedStateID,
                                       options: states,
                                       optionsText: 'StateName',
                                       optionsValue: 'StateID'"></select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Favorite:</label>
                        <div>
                            <select class="favoriteSelect" data-bind="value: $root.newGameSelectFavorite,
                                       options: teams,
                                       optionsText: 'TeamName',
                                       optionsValue: 'TeamID'"></select>
                        </div>
                        <div data-bind="visible: $root.newGameSelectFavorite() == -1">
                            <div>
                                <label for="new-bowl-favorite-name" class="form-control-label">Team Name:</label>
                                <input type="text" class="form-control" id="new-bowl-favorite-name" data-bind="value: $root.newGameFavoriteName">
                            </div>
                            <div>
                                <label for="new-bowl-favorite-nickname" class="form-control-label">Team Nickname:</label>
                                <input type="text" class="form-control" id="new-bowl-favorite-nickname" data-bind="value: $root.newGameFavoriteNickname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="underdogSelect" class="form-control-label">Underdog:</label>
                        <div>
                            <select class="underdogSelect" data-bind="value: $root.newGameSelectUnderdog,
                                       options: teams,
                                       optionsText: 'TeamName',
                                       optionsValue: 'TeamID'"></select>
                        </div>
                        <div data-bind="visible: $root.newGameSelectUnderdog() == -1">
                            <div>
                                <label for="new-bowl-underdog-name">Team Name:</label>
                                <input type="text" id="new-bowl-favorite-name" data-bind="value: $root.newGameUnderdogName">
                            </div>
                            <div>
                                <label for="new-bowl-underdog-nickname">Team Nickname:</label>
                                <input type="text" id="new-bowl-underdog-nickname" data-bind="value: $root.newGameUnderdogNickname">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-bowl-bcs-check" class="form-control-label">BCS Bowl:</label>
                        <input type="checkbox" id="new-bowl-bcs-check" data-bind="checked: newGameIsBCSBowl">
                    </div>
                    <div class="form-group">
                        <label for="new-bowl-spread" class="form-control-label">Point Spread:</label>
                        <input type="text" class="form-control" id="new-bowl-spread" data-bind="value: newGamePointSpread">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-bind="click: $root.addGame">Add Game</button>
            </div>
        </div>
    </div>
</div>

<div id="gamesDiv" class="row" style="height: 100vh; background-color:#fff; visibility:hidden">
    <div class="col-md-9 col-xs-12">
        <div class="row title-bar">
            <div class="col-md-6">
                <span class="title">2016</span>
            </div>
            <div class="col-md-6" style="text-align:right">
                @*<button class="btn btn-default" data-bind="">Add Game</button>*@
                <button class="btn btn-default" data-toggle="modal" data-target=".bd-example-modal-lg">Add Game</button>
            </div>
        </div>
        <div data-bind="foreach: $root.games" class="center-all">
            @Html.Partial("_Game")
        </div>
    </div>
    <div class="col-md-3 col-xs-12" style="height: 100vh; background-color:#d2d2d2">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" style="background-color:#f2f2f2; margin-top: 15px; border-radius: 3px; min-height: 300px">
                <div>
                    <div>
                        Game picks remaining: <span data-bind="text: $root.games().length - $root.pickMadeCount()"></span>
                    </div>
                    <div>
                        Sure picks remaining: <span data-bind="text: 3 - $root.surePickCount()"></span>
                    </div>
                    <div style="text-align:center">
                        <div class="btn btn-success" data-bind="click: $root.submitBracket">Submit Saved Changes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<link href="~/Content/CSS/Bracket.css" rel="stylesheet" />
<script src="~/Models/KnockoutModels/Bracket/BracketViewModel.js"></script>
<script type="text/javascript">
    //bad. this is for testing
    var vm;
    $(function () {
        var model = @Html.Raw(Json.Encode(Model));
        vm = new BracketViewModel(model);
        vm.loadAjax();
    });
</script>