
@{
    ViewBag.Title = "Bracket";
}
<div class="row title-bar">
    <div class="col-xs-6">
        <span class="title">2016</span>
    </div>
    <div class="col-xs-6" style="text-align:right">
        <button class="btn btn-default" data-bind="">Add Game</button>
    </div>
</div>


<div data-bind="foreach: $root.games" class="center-all">
    <div class="col-xs-6">
        <div class="game-style row">
            <div class="col-xs-12">
                <div class="row" style="border-bottom:1px solid black">
                    <div data-bind="text: GameName()"></div>
                    <div data-bind="text: moment(GameDatetime()).format('LLLL')" class="small-text"></div>
                    <div data-bind="text: Location.City() + ' ' + Location.State.StateName()" class="small-text"></div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="small-text">Favorite</div>
                                <div data-bind="text: Favorite.TeamName()"></div>
                            </div>
                            <div class="col-xs-1" style="position:absolute; right:0; min-height:100%; background-color:#0C95FF; border-left:1px solid black">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="border-right:1px solid black; border-left:1px solid black">
                        <div class="small-text">Spread</div>
                        <div data-bind="text: PointSpread()"></div>
                    </div>
                    <div class="col-xs-5">
                        <div class="row">
                            <div class="col-xs-1" style="position:absolute; left:0; min-height:100%; background-color:#FFF; border-right:1px solid black">
                            </div>
                            <div class="col-xs-11">
                                <div class="small-text">Underdog</div>
                                <div data-bind="text: Underdog.TeamName()"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>



<link href="~/Content/CSS/Bracket.css" rel="stylesheet" />
<script src="~/Models/KnockoutModels/Bracket/BracketViewModel.js"></script>
<script type="text/javascript">
    var vm = new BracketViewModel();
    vm.loadGames();
    $(function () {

    });
</script>